# -------------------------------------
# QUARTUS II (Dočasné soubory)
# -------------------------------------
db/
incremental_db/
output_files/
simulation/
*.rpt
*.summary
*.done
*.pin
*.jdi
*.qws
*.bak
*.smsg
*.qdf

# -------------------------------------
# MODELSIM (Dočasné soubory)
# -------------------------------------
work/
transcript
*.wlf
modelsim.ini

# -------------------------------------
# C/C++ KOMPILÁTOR (Binárky z GCC)
# -------------------------------------
*.elf
*.bin
*.hex
*.mif
*.o

# -------------------------------------
# PYTHON (Keš)
# -------------------------------------
__pycache__/
*.pyc

# -------------------------------------
# SIMULAČNÍ VÝSTUPY
# -------------------------------------
*.vcd

# -------------------------------------
# LOKÁLNÍ PRACOVNÍ SOUBORY
# -------------------------------------
error
warning